In [12]:
##
##    import pyodbc as odbc


##     cnxn_str = ("Driver={SQL Server};"
##                 "Server=sql-large.ec2.primeclerk.com;"
##                 "Trusted_Connection=yes;")



##     cnxn = odbc.connect(cnxn_str)

In [16]:
import pyodbc as odbc
import pandas as pd





cnxn_str = ("Driver={ODBC Driver 17 for SQL Server};"
            "Server=sql-large.ec2.primeclerk.com;"
            "Database=PrimeClerkProd;"
            "UID=jspiegel;"
            "PWD=pqnV#eS5J^y#*0b2;")



cnxn = odbc.connect(cnxn_str)

In [17]:
cursor = cnxn.cursor()




cursor.execute("SELECT TOP(1000) * FROM claim")

In [22]:
data = pd.read_sql("SELECT TOP(1000) claimid, claimnumber FROM CLAIM", cnxn)

C:\Users\Jason.Spiegel\AppData\Local\Temp\ipykernel_23640\1529606768.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql("SELECT TOP(1000) claimid, claimnumber FROM CLAIM", cnxn)

C:\Users\Jason.Spiegel\AppData\Local\Temp\ipykernel_23640\3636955465.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql("SELECT TOP(1000) * FROM customers", cnxn)

DatabaseError: Execution failed on sql 'SELECT TOP(1000) * FROM customers': ('HY000', '[HY000] [Microsoft][ODBC Driver 17 for SQL Server]Connection is busy with results for another command (0) (SQLExecDirectW)')

In [26]:
df = pd.dataframe(data)

AttributeError: module 'pandas' has no attribute 'dataframe'